.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  width: 360px;
}

@media (max-width: 767.98px) {
  .login-box {
    width: 100%;
  }
}
